<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fly.demo.dao.ArticleReplyMapper">
<!--    ArticleReplyMapper.xml 进行额外的补充，避免写在同一个xml文件中，因为 自动生成代码那个，很容易将自己写的代码进行覆盖了-->
<!--    1、注意namespace表示命名空间，指定要与 ArticleReplyMapper.xml 中的namespace相同-->
<!--    2、统一用 com.fly.demo.dao.ArticleReplyMapper，也就是 BoardMapper-->
<!--    3、不同的映射文件指定了相同的namespace后，定义的所有用id或name标识的结果集映射都可以在不同的文件中共享-->

<!--    自定义结构集-->
    <resultMap id="AllInfoResultMap" type="com.fly.demo.model.ArticleReply" extends="BaseResultMap">
<!--        关联的用户对象的映射-->
        <association property="user" resultMap="com.fly.demo.dao.UserMapper.BaseResultMap" columnPrefix="u_"/>
    </resultMap>

<!--    根据帖子id查询回复列表-->
    <select id="selectByArticleId" parameterType="java.lang.Long" resultMap="AllInfoResultMap">
        select
            u.id as u_id, u.avatarUrl as u_avatarUrl, u.nickname as u_nickname,
            ar.id, ar.articleId, ar.postUserId, ar.replyId, ar.replyUserId, ar.content, ar.likeCount, ar.state, ar.createTime, ar.updateTime
        from
            t_article_reply ar, t_user u
        where
            ar.postUserId = u.id and ar.articleId = #{articleId} and ar.deleteState = 0
        order by
            ar.createTime desc;

    </select>

</mapper>